#footer {
    background: rgba(var(--color-primary));
    padding-top: 15px;
    padding-bottom: 30px;
}

#footer .footer-items {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

#footer .footer-item h5 {
    color: white;
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 25px;
}

#footer .footer-item .content {
    color: white;
    font-size: 24px;
    line-height: 40px;
}

#footer .footer-item .content a:hover {
    text-decoration: underline;
}


@media (max-width: 639px) { 
    #footer .footer-items {
        flex-direction: column;
        gap: 50px;
    }
}

@media (min-width: 640px) and (max-width: 767px) { 
    #footer .footer-items {
        flex-direction: column;
        gap: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) { 

    #footer .footer-items {
        flex-wrap: wrap;
        gap: 40px 20px;
    }

    #footer .footer-item {
        width: 45%;
        word-break: break-all;
    }
}


@media (min-width: 992px) and (max-width: 1199px) { 
    #footer .footer-items {
        flex-wrap: wrap;
        gap: 40px 20px;
    }

    #footer .footer-item {
        width: 45%;
        word-break: break-all;
    }
}